/*Noto Sans, Sans-serif*/
/* 12/6 - you downloaded a template to replace this monstrosity*/
:root{
    --font-color: rgb(250, 249, 246);
  }
  *{
    box-sizing: border-box;
  }
  
  body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    z-index: -1;
  }

  .welcome-image {
    margin-bottom: 30%;
    margin-left: 15%;
    width: 40%;
    padding-top: 50px;

  }
  
  .welcome-section{
    width: 100vw;
    height: 450px;
    padding: 25px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    background: linear-gradient(
       45deg,
       rgb(65, 175, 72) 10%,
       rgb(209, 131, 13)
    );
    color: var(--font-color);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 250px auto;
    grid-auto-flow: inherit;
  }

  .name{
    margin-top: 2%;
    margin-right: 30%;
    font-family: Noto sans, sans-serif;
    font-size: 1.5rem;
  }
  
  .statement{
    font-family: Noto Sans, sans-serif;
    font-size: 1.3rem;
    padding-top: 2px;
    margin-top: 10%;
    margin-right: 10%;
    
  }
  
  #projects{
     background: gray;
     overflow-y: auto;
  }
  
  h2{
    font-family: Noto Sans, sans-serif;
    font-size: 3rem;
    padding-top: 10px;
    color: var(--font-color);
    text-align: center;
  }
  
  

  .project-grid{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto auto;
    grid-auto-flow: column;
    gap: 1px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    align-items: center;
    overflow: inherit;
  }

  
  @media only screen and (max-width: 768px){
    .project-grid{
    grid-auto-flow: row;
  
    }
   
    main{
      max-width: 200px;
    }
  
  }
  .project-img{
    width: 60%;
    border: 2px solid var(--font-color);
  }
  
  .project-caption{
  color: var(--font-color);
  border: 2px solid var(--font-color);
  width: 60%;
  font-size: 25px;
  }
  
  a:link {
    text-decoration: none;
  }
  
 
  a:link{
    color: black;
  }
  a:visited{
    text-decoration: none;
    color: black;
  }
  a:hover{
    color: #DC143C;
  }
  
  .contact-section{
    background: linear-gradient(
       45deg,
       rgb(65, 175, 72) 10%,
       rgb(209, 131, 13)
    );
    margin: 0;
    padding: 0;
    overflow-y: auto;
    font-family: Noto Sans, sans-serif;
  }

  .email{
    font-size: .8rem;
  }
  
  h4{
    color: var(--font-color);
    text-align: center;
    font-family: Noto sans, sans-serif;
    font-weight: bold;
    font-size: 30px;

  }
  
  .contact-grid{
    font-size: 50px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto; /*mess around with columns because you can change the length i think through here???*/
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-area: auto;
  }
  
  .contact-grid p {
    font-size: 30px;
  }
  